version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.4-alpine
    container_name: todo_postgres_db
    restart: always
    environment:
      POSTGRES_USER: orinadjar
      POSTGRES_PASSWORD: W23w23w23
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/db-init:/docker-entrypoint-initdb.d

  redis:
    image: redis:7-alpine
    container_name: todo_redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: