version: '3.8'

services:
  db:
    image: postgres:15-alpine 
    container_name: todo_postgres_db
    restart: always
    environment:
      POSTGRES_USER: orinadjar
      POSTGRES_PASSWORD: W23w23w23
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: